---
import Layout from "@/layouts/Layout.astro";
import SymptomCreator from "@/components/symptoms/SymptomCreator";
---

<Layout title="Log a New Symptom">
  <main class="container mx-auto flex min-h-screen flex-col items-center justify-center py-12">
    <SymptomCreator client:load />
  </main>
</Layout>
