---
import SymptomsList from '../components/SymptomsList';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main class="container mx-auto p-4">
		<div class="mb-4 flex items-center justify-between">
			<h1 class="text-2xl font-bold">My Symptoms</h1>
			<a
				href="/symptoms/new"
				class="inline-flex h-9 items-center justify-center whitespace-nowrap rounded-md bg-primary px-4 py-2 text-sm font-medium text-primary-foreground transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50"
			>
				Add new record
			</a>
		</div>
		<SymptomsList client:load />
	</main>
</Layout>
